.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 420px;

  padding: 20px;
}
.card__infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  line-height: 0.2;
}

.card__infos h2 {
  font-size: 20px;
}
.card__infos p {
  font-size: 15px;
}

.card hr {
  width: 80%;
}
#red {
  border: 2px solid red;
}
#blue {
  border: 2px solid blue;
}
#green {
  border: 2px solid green;
}
#yellow {
  border: 2px solid yellow;
}
.div__img {
  width: 200px;
  height: 300px;
}
.div__img img {
  width: 200px;
  height: 300px;
}
